<div *ngIf="licenceSelected">
  <p>Licence ID: {{ selectedLicence.id }}</p>
  <p>Licence type: {{ selectedLicence.type }}</p>
  <p *ngIf="selectedLicence.numberOfCustomersAllowed">
    Number of customers allowed: {{ selectedLicence.numberOfCustomersAllowed }}
  </p>
  <p>Number of customers spent: {{ selectedLicence.numberOfCustomersSpent }}</p>
  <p>
    Licence activation date:
    {{ selectedLicence.activationDate | date: "dd.MM.yyyy" }}
  </p>
  <p>
    Licence expiration date:
    {{ selectedLicence.expirationDate | date: "dd.MM.yyyy" }}
  </p>
  <p>Total amount: € {{ selectedLicence.totalAmount }}</p>
  <p>Licence status: {{ selectedLicence.status }}</p>
  <p>Business ID: {{ selectedLicence.businessID }}</p>
</div>
