<div *ngIf="licenceSelected">
  <p>id: {{ selectedLicence.id }}</p>
  <p>type: {{ selectedLicence.type }}</p>
  <p>
    numberOfCustomersAllowed?: {{ selectedLicence.numberOfCustomersAllowed }}
  </p>
  <p>numberOfCustomersSpent: {{ selectedLicence.numberOfCustomersSpent }}</p>
  <p>activationDate: {{ selectedLicence.activationDate }}</p>
  <p>expirationDate: {{ selectedLicence.expirationDate }}</p>
  <p>totalAmount: {{ selectedLicence.totalAmount }}</p>
  <p>status: {{ selectedLicence.status }}</p>
  <p>businessID: {{ selectedLicence.businessID }}</p>
</div>
